uri        ${ADMIN_LDAP_URL}
base       ${ADMIN_LDAP_BASE_DN}

binddn     ${ADMIN_LDAP_BIND_DN}
bindpw     ${ADMIN_LDAP_BIND_PASSWORD}

nss_base_passwd     ${ADMIN_LDAP_USER_OU}?one
nss_base_group      ou=groups,${ADMIN_LDAP_BASE_DN}?one

pam_groupdn         ${ADMIN_LDAP_VPN_GROUP_DN}
pam_member_attribute  memberUid

bind_timelimit      ${ADMIN_LDAP_TIMEOUT}
timelimit           ${ADMIN_LDAP_TIMEOUT}
network_timeout     ${ADMIN_LDAP_TIMEOUT}

ssl                 no
